<article class="detail-view" id="<%= dom_id item %>">
  <header>
    <% if item.cover_image.present? %>
      <%= image_tag item.cover_image, {class: "gallery-img", size: "756x640"} %>
    <% end%>
  </header>
  <section>
    <div class="flex-between">
      <div class="flex-left">
        <h1><%= item.title %></h1>
        <% if item.is_available? %>
          <span class="tag pico-background-jade-300">Available</span>
        <% else %>
          <span class="tag pico-background-grey-300">Unavailable</span>
        <% end %>
      </div>
      <div class="flex-left">
        <button class="icon" data-controller="popup" data-action="click->popup#openExternal">
          <%= icon "arrow-square-out" %>
        </button>
        <button class="icon" data-controller="popup" data-action="click->popup#close">
          <%= icon "x" %>
        </button>
      </div>
    </div>
    <div class="flex-between claim-controller">
      <div class="cost flex-left">
        <% if (item.suggested_price || 0) > 0 %>
          <%= "$%.2f" % item.suggested_price %>
          <small class="subtle">(suggested donation)</small>
        <% else %>
          <span class="free">FREE</span>
          <small class="subtle">(please take it)</small>
        <% end %>
      </div>
    </div>
    <p class="tight"><%= item.desc %></p>
  </section>
</article>
