<article class="shop-card" id="<%= dom_id item %>" data-categories="<%= item.category_ids %>">
  <% if item.draft %>
    <span class="tag pico-background-orange-300">
      Draft
    </span>
  <% else %>
    <span class="tag pico-background-jade-300">
      Active
    </span>
  <% end %>
  <header>
    <%= link_to item, data: {turbo_frame: 'item-details'} do %>
      <%= image_tag item.cover_image, class: "cover" %>
    <% end %>
  </header>
  <h3>
    <%= link_to item.title, item, data: {turbo_frame: 'item-details'}, class: "contrast" %>
  </h3>
</article>
