<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<div class="flex-left mb">
  <h1>Items</h1>
  <%= link_to "Create New", new_item_path %>
</div>

<div id="filters">
  <%= form_with model: @categories.first, 
      data: {
        controller: "item-filter", 
        categories: @categories.collect{|x| x.id}.compact
      } do |form| %>
    <fieldset>
      <%= form.collection_radio_buttons :id, @categories, :id, :title %>
    </fieldset>
  <% end %>
</div>

<div class="grid grid-items-index" id="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:frame-load', (e) => {
    const frameParent = e?.target?.parentElement;

    if (frameParent instanceof HTMLDialogElement) {
      frameParent.showModal();
    }
  })
</script>
<dialog id="popup-details">
  <%= turbo_frame_tag 'item-details' do %>
  <% end %>
</dialog>
