<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<div class="flex-left mb">
  <h1>Item Giveaways</h1>
  <% if Current.user.is_admin? %>
    <%= link_to "Create New", new_item_path %>
  <% end %>
</div>
<article>
  <details class="tight">
    <summary style="font-size: 1.125rem">How does this work? 🤔</summary>
    <p>
      We're looking to give away these items to friends who can arrange 
      <strong>an Austin-based pickup</strong> either at one of our 
      <a href="/events">Events</a> or at an alternative meetup before <strong>March 23</strong>.
      We'll be in touch after your claim to finalize details, <em>but feel free
        to reach out directly to us if you're really excited.</em> 🤠
    </p>
  </details>
</article>

<div id="filters" class="filter-bar">
  <%= form_with model: @categories.first, 
      data: {
        controller: "item-filter", 
        categories: @categories.collect{|x| x.id}.compact
      } do |form| %>
    <fieldset>
      <%= form.collection_radio_buttons :id, @categories, :id, :title %>
    </fieldset>
  <% end %>
  <span class="pip">|</span>
  <fieldset>
    <input type="checkbox" name="showAvailable" id="showAvailable" 
           data-controller="item-filter" 
           data-action="change->item-filter#toggleAvailable" />
    <label for="showAvailable">Only show available items</label>
  </fieldset>
</div>

<div class="grid grid-items-index" id="items">
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</div>

<script>
  document.addEventListener('turbo:frame-load', (e) => {
    const frameParent = e?.target?.parentElement;

    if (frameParent instanceof HTMLDialogElement) {
      frameParent.showModal();
    }
  })
</script>
<dialog id="popup-details">
  <%= turbo_frame_tag 'item-details' do %>
  <% end %>
</dialog>
