<p style="color: green"><%= notice %></p>

<div class="max-md">
  <turbo-frame id="item-details">
    <%= render partial: "details", locals: {item: @item} %>
  </turbo-frame>
</div>

<% if Current.user.is_admin? %>
  <div class="flex-left">
    <%= link_to "Edit this item", edit_item_path(@item) %> |
    <%= link_to "Back to items", items_path %>

    <%= button_to "Destroy this item", 
        @item, 
        method: :delete, class: "destructive" %>
  </div>
<% end %>