<div id="<%= dom_id category %>">
  <h2>
    <%= category.title %>
    <span class="tag" style="background:<%= category.color %>">
      #<%= category.tag %>
    </span>
  </h2>
  <p>
    <%= category.desc %>
  </p>
</div>
